*.npy
*.dat
*.exe
*.txt
*.pyc
*.mat
*.wav
*.mp4
*.jpg
*.png
*.tlog
*.zip
*.pyc
.vscode
__pycache__
.ipynb_checkpoints

Builds 
x64
.vs


*.filters
*.vcxproj
*.user

*.tfrecords
*.meta
*.index

*.caffemodel
*.meta4
*.prototxt